<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Wojtekn\Channels\Api\Data\EntityMappingInterface" type="Wojtekn\Channels\Model\EntityMapping"/>
    <preference for="Wojtekn\Channels\Api\Data\EntityMappingSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Wojtekn\Channels\Api\EntityMappingRepositoryInterface" type="Wojtekn\Channels\Model\EntityMappingRepository" />

    <preference for="Wojtekn\Channels\Api\Data\CustomerExportMessageInterface"
                type="Wojtekn\Channels\Model\Queue\Message\CustomerExportMessage" />

    <type name="Wojtekn\Channels\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">Channels</argument>
            <argument name="handlers" xsi:type="array">
                <item name="standard" xsi:type="object">Wojtekn\Channels\Logger\Handler\Channels</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Model\ResourceModel\AddressRepository">
        <plugin name="customer_address_save_after_plugin"
                type="Wojtekn\Channels\Plugin\AddressSave"/>
    </type>

    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="channels_export_customers" xsi:type="object">Wojtekn\Channels\Console\Command\ExportCustomers</item>
            </argument>
        </arguments>
    </type>

    <preference for="Magento\Customer\Controller\Adminhtml\Index\Edit"
                type="Wojtekn\Channels\Controller\Adminhtml\Customer\Edit" />
</config>
