<?xml version="1.0"?>
<!--
/**
 * Copyright © 2020 Wojciech Naruniec (https://naruniec.me/). All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="crazycall" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Crazy Call</label>
            <tab>service</tab>
            <resource>Wojtekn_CrazyCall::config_connector</resource>
            <group id="connector" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Connector Settings</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If disabled, data is not queued and not sent to the service.</comment>
                </field>
                <field id="api_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API URL</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="api_account" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API account</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Account ID in *****.crazycall.com format.</comment>
                </field>
                <field id="api_key" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="address_type" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Customer address type</label>
                    <source_model>Magento\Customer\Model\Config\Source\Address\Type</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>Which address type should be used to get phone number from.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
